{% extends 'base.html.twig' %}

{% block title %}Kontakti - Epclone{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm p-4">
                <h1 class="mb-4 text-center">Saziņa ar "Epclone"</h1>
                <p class="text-muted text-center mb-5">Datoru komponentes un gatavie risinājumi Jūsu vajadzībām.</p>
                
                <div class="row g-4">
                    <div class="col-md-6">
                        <h5>Biroja adrese</h5>
                        <p>Brīvības iela 100,<br>Rīga, LV-1001, Latvija</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Kontaktinformācija</h5>
                        <p>
                            <strong>E-pasts:</strong> info@epclone.lv<br>
                            <strong>Tālrunis:</strong> +371 20000000
                        </p>
                    </div>
                </div>
                
                <hr class="my-4">
                
                <h5>Darba laiks</h5>
                <ul class="list-unstyled">
                    <li>Pirmdiena - Piektdiena: 09:00 - 18:00</li>
                    <li>Sestdiena: 10:00 - 15:00</li>
                    <li>Svētdiena: Slēgts</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}